.spirits {
    width: -webkit-fill-available;
}
:host ::ng-deep .modal-opener{
    text-decoration: unset !important;
    color: unset !important;
    button {
        width: 100%;
    }
}
.remove-spell{
    right: 0;
    position: absolute;
}