<div class="page-wrapper">
    <h2>Character Creation Wizard</h2>

    <mat-stepper [linear]="false" #stepper (selectionChange)="onStepChange($event)" orientation="vertical" >
        <mat-step *ngFor="let state of states">
            <mat-card>
                <mat-card-header>
                    <h3>{{state.stepLabel}}</h3>
                </mat-card-header>	
                <mat-card-content >
                    <div class="state-content-wrapper">
                        <ng-container #stateComponents></ng-container>
                    </div>
                    <div *ngIf="state.next == undefined" class="next-button" >
                        <button mat-stroked-button matStepperNext >Next</button>
                    </div>
                    <div *ngIf="state.next != undefined" class="next-button">
                        <button mat-stroked-button *ngFor="let button of state.next" (click)="stepTo(button.target, button.click)">{{button.label? button.label : 'Next'}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-step>
    </mat-stepper>
</div>