<p>No necessary consequences, unless a GM decides one or more of the following:</p>
<p><b>Fatique Accrual</b></p>
<p>Caster can keep using magic points but gain a fatique for each extra point use.</p>
<p><b>Hit Point Attrition</b></p>
<p>Each spell or ability costs one HP from each Hit Location.</p>
<p>Cost is the same for any potency, magnitude or intensity.</p>
<p>Caster can keep casting until they receive a Major Wound.</p>
<p><b>Unconsciousness</b></p>
<p>Any character that has 0 MP falls unconscious until they regain atleast 1 MP</p>
<p><b>Willpower</b></p>
<p>Reaching zero MP, needs a Willpower roll or fall unconscious.</p>
<p>Can keep casting spells but each spell will make the Willpower roll at a harder difficulty than the last.</p>
<p>A fail makes the caster fall unconscious for 1d(number of willpower tries) days.</p>
<p><b>Endurance or Die</b></p>
<p>Make an Endurance roll and if fail then die.</p>
<p>If crit success then regain 1 MP.</p>