<p>Whenever damage is inflicted, the damaged limb updates the wound status according to the below:</p>
<ul>
    <li>Minor Wound: Hit Location still has positive Hit Points</li>
    <li>Serious Wound: Hit Location is reduced to zero Hit Points or below</li>
    <li>Major Wound: Hit Location is reduced to a negative score equal or greater than its starting Hit Points</li>
</ul>

<p><b>Serious Wounds</b></p>
<ul>
    <li>Location is permanently scarred</li>
    <li>Character cannot attack or start to cast spells for the next 1d3 turns due to being stunned or distracted by the pain.</li>
    <li>Each time this hit location is damaged including the hit that gave it the serious wound, the character needs to make an opposed Endurance roll versus the successful attack roll.</li>
    <li>On failure the limb is rendered useless until the location is restored to positive hit points</li>
    <li>If it's a leg: Character falls prone</li>
    <li>If it's an arm: Character drops whatever is in that hand</li>
    <li>If it's head, chest or abdoment: The character falls unconscious for a number of minutes equal to the amount of damage sustained in the attack.</li>
    <li>First Aid or Heallink skills can be used to help an unconscious vicitm regain consciousness, but the injured character will not be able to rejoin any combat until they received more healing</li>
    <li>If the character is functional, the GM might decide to penalise the character wiht one difficulty grade until the wound becomes a minor</li>
</ul>
<p><b>Major Wounds</b></p>
<ul>
    <li>A limb is considered severed, transfixated, shattered or ripped off</li>
    <li>Character falls prone and is considered incapacitated from the pain</li>
    <li>Endurance vs Successful Attack Roll</li>
    <li>Failure results in unconsciousness</li>
    <li>If location is head, chest or abdoment, the character drops unconscious and on failure the character dies instantly</li>
    <li>If a severed, punctured or ripped off location is not treated within a number of minutes equal to five times their Healin Rate, the character dies from blood loss and shock</li>
    <li>If location is head, chest or abdoment, and the injury is not treated within a number of minutes equal to two times their Healin Rate, the character dies from blood loss and shock</li>
    <li>Major Wounds require some form of surgery or major magic to heal, the sufferer will be very unlikely to recover for this wound in time to rejoin combat</li>
    <li>Depending on the available treatment the wounded location will be potentially maimed</li>
</ul>

<p><b>Treating Serious Wounds</b></p>
<p>A successful Healing roll restores 1d3 HP to a Seriously Injured location.</p>
<p>On Critical Success it heals 1d3+1 instead.</p>
<p>On Funbmle it increases the damage by 1 HP.</p>
