<ul>
    <li><b>REQUIRED : Move at a maximume of walking pace</b></li>
    <li>Clear thought, unclouded by detrimental magic, narcotics or emotional stress</li>
    <li>The ability to gesture or symbolise with at least one free hand</li>
    <li>The ability to make approprate vocal sounds to invoke the formulae or request</li>
    <li>The ability to accurately perceive or sense a potential target, if the spell has to be targeted</li>
</ul>
<p>When one or more of these are denied, each missing element increases the difficulty grade of the appropriate magic skill.</p>