<p>Starting characters wishing to form a personal connection as part of their background are rewarded wit ha pool of Luck Points available to the entire party, rather than just a single individual.</p>
<p>The number of Luck Points starts at two and increases by 1 per character who has formed a personal connection within the group.</p>
<p>These points can only be spent by a character that is either helping or intending to help another in the group.</p>
<p>The replenishment rate is the same with individual luck points but if the GM finds them too advantageous, the GM can handle the replenishing as they see fit.</p>
