<ul>
    <li>Target needs to be within reach of the attacker's natural weapons</li>
    <li>Human attacks are size Small, Reach Touch and 1d3 damage</li>
    <li>Unarmed Prowess Trait raises blocks and parries to Medium</li>
    <li>Strike or <open-modal modal="grapple">Grapple</open-modal> 106 - must be announced beforehand</li>
    <li>Unarmed combat can parry a weapon attack</li>
    <li><open-modal modal="shorter-reach">Step inside the reach of opponent for Shorter Reach</open-modal></li>
    <li>Natural Weapons of creatures / monsters are considered to reach from Touch to their current Reach without suffering from opponents entering within their reach (Shorter Reach rule)</li>
</ul>