<table class="table table-striped">
    <tbody>
        <tr>
            <td> 
            <ul class="list-inline">
                <li class="list-inline-item"><open-modal modal="passive-blocking">Passive Blocking 93, 105</open-modal></li>
                <li class="list-inline-item"><open-modal modal="assess-situation">Assess Situation 93</open-modal></li>
                <li class="list-inline-item"><open-modal modal="drop-weapon">Drop Weapon 93</open-modal></li>
                <li class="list-inline-item"><open-modal modal="signal">Signal 93</open-modal></li>
                <li class="list-inline-item"><open-modal modal="speak">Speak 93</open-modal></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><open-modal modal="group-luck">Use Group Luck Point 22, 93</open-modal></li>
                <li class="list-inline-item"><open-modal modal="luck-point">Use Luck Point 81, 93</open-modal></li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>