<p><b>Attacker</b></p>
<ul>
    <li>At least one full Combat Round of movement at running or sprinting speed prior to contact</li>
    <li>Attack roll minus one Difficulty Grade</li>
    <li>+1 step to bipedal Attacker's Damage Bonus</li>
    <li>+2 steps to the the Damage Bonus of four (or more) legged creatures by two steps</li>
    <li>+1 step to the size of the attacking weapon</li>
</ul>
<hr/>
<p><b>Defender</b></p>
<ul>
    <li>Parrying, risk of knockback if damage > SIZ</li>
    <li><open-modal modal="evade">Evade</open-modal>, if the attacker has a higher level of success then calculate special effects as normal, otherwise, defender moves out of the way. In either case, defender ends up prone.</li>
    <li>Counterattacking,
        <ul>
            <li>Both sides are treated as having failed to Parry, although they can still benefit from Passive Blocking.</li>
            <li>Longest Reach strikes first</li>
            <li>Longshafted impaling weapons which can be 'set' against a Charge, the Defender may use opponent's or its mount' Damage Bonus</li>
        </ul>
    </li>
    
</ul>