<p>If target at the edge, raise the difficulty 1 grade to at least Hard.</p>
<p>If target is thorugh a group, raise the difficulty 1 grade to at least Formidable.</p>
<p>If marksman fails their roll but would have succeeded if not for the aiming penalty, then they hit an adjacent victim.</p>
<p>GM should determine the victim randomly.</p>
<p>The eventual target, intended or not, if they are aware of the attack they can still Evade or Parry as normal.</p>
<p>Special Effects won from the attack only apply to the original target.</p>