<p><open-modal modal="shorter-reach">Shorter Reach will reduce size of longer weapon.</open-modal></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th colcpan="2">Parrying weapon or shield size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Equal or greater</td>
            <td> 
            <p>
                Stops all damage 
            </p>
            </td>
        </tr>
        <tr>
            <td>One size less</td>
            <td> 
            <p>
                Parry stops half the damage 
            </p>
            </td>
        </tr>
        <tr>
            <td>Two or more sizes less</td>
            <td> 
            <p>
                Doesn't stop any damage 
            </p>
            </td>
        </tr>
    </tbody>
    <tfoot> 
    <tr>
        
    </tr>
    </tfoot> 
</table>