<p><b>Situational Modifiers</b></p>
<p>
    <span><open-modal modal="close-combat-situational">Close Combat</open-modal></span>
    <span><open-modal modal="ranged-situational">Ranged</open-modal></span>
    <span><open-modal modal="magic-situational">Magic</open-modal></span>
</p>
<hr/>
<p><b>Legend</b></p>
<p>Hard=2/3 | Formidable=1/2 | Herculean=1/10</p>
<hr/>
<p><b>Augment</b></p>
<p><open-modal modal="augment">Augmenting</open-modal></p>
<hr/>
<p><b>Weapon Size Difference</b></p>
<p>Each participant needs to fight at their weapon's size distance otherwise penalties are applied.</p>
<p><i>Reach difference of two or more steps for range to make effect.</i></p>
<p>If the two opponents are at the distance of the longer weapon then the shorter weapon carrier can only target the weapon of their opponent.</p>
<p>If the two opponents are at the distance of the shorter weapon then:</p>
<ul>
    <li>the longer weapon damage becomes a max of 1D3+1 Damage.</li>
    <li>the longer weapon size is considered equal to the smaller weapon size</li>
    <li>the longer weapon cannot be used to parry</li>
</ul>
<hr/>
<p><b>Climbing</b></p>
<p>A climbing character has all of his combat skills capped by the value of his Athletics Skill. Bipedal Characters are limited to fighting with a single limb, requiring the other three to remain clinging to the wertiginous surface they are scaling.</p>

<p><b>Swimming</b></p>
<p>A swimming character has all of his compbat skills capped by the calue of his Swim Skill. Since water (and other fluids) impose significant drag, only thrusting weapons are effective whilst submerged, and even those are reduced to half damage. Other weapons are slowed to the point of impotence. Unarmed combat attacks which involve bitting, strangulation or ramming are unafffected.</p>

<hr/>
<p><b>Encumbered</b></p>
<p>
    <span><open-modal modal="enc-penalty" prop="2">ENC > STR x2</open-modal></span>
    <span><open-modal modal="enc-penalty" prop="3">ENC > STR x3</open-modal></span>
    <span><open-modal modal="enc-penalty" prop="4">ENC > STR x4</open-modal></span>
</p>
<hr/>
<p><b>Unfamiliar Weapons</b></p>
<p><i>The penalty imposed by use of an unfamiliar weapon cannot reduce the user's skill below the default level of STR+DEX.</i></p>
<p><open-modal modal="substantially-different">Substantially different weapon (SIZ, length, method of use (Special Effects etc)</open-modal></p>
<p><open-modal modal="reasonably-different">Reasonably different (great vs broadsword)</open-modal></p>
<p><open-modal modal="broadly-similar">Broadly similar broadsword / shortsword)</open-modal></p>
<p><open-modal modal="similar">Similar (scimitar vs broadsword)</open-modal></p>
<p><open-modal modal="familiar-unfamiliar">Unfamiliar with familiar (scimitar with shield instead of broadsword with shield)</open-modal></p>

<hr/>
<p><b><open-modal modal="difficulty-grades">Difficulty Grades</open-modal></b></p>