<ul>
    <li>A mounted character may only Evade by flinging themselves clear of the saddle</li>
    <li>Combat Skills of a rider may not exceed their Ride skill</li>
    <li>1D10+10 for the Hit Location of bipedal creatures, provided the target is lower than the rider.</li>
    <li>Withdraw freely from engagement on his turn provided his mount moves faster than the opponent, and the mount itself is not engaged in attacking.</li>
    <li>Use Action Point to substitute either his own Combat Style or Ride skill instead of his mount's, to defend it against Attacks.</li>
    <li>Combine his SIZ with his mount's for the purposes of avoiding Knockback, provided he passes an unOpposed Ride roll.</li>
    <li>When Charging with a braced weapon, substitute his own Damage Bonus for that of his mount. A weapon braced for a</li>
</ul>
<p>
    Charging Attack cannot be used to Parry. If the weapon impales it must be left in the body of the target, or else break or dismount the rider as the mount continues past.
</p>