.user-type-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
        margin: 0px 10px;
    }
}

.view-as{
    flex: 0 0 100%;
}


.round-span{
    display:flex;
    flex-grow: 1;
    justify-content: end;
}

.back{
    margin-left : auto;
}