<div>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="search" />
  </mat-form-field>
</div>
<div>
  <mat-card *ngFor="let spell of getFilteredSpells()" (click)="select(spell)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ spell.name }}</mat-card-title>
        <mat-card-subtitle>{{ spell.tags }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ spell.description }}
    </mat-card-content>
  </mat-card>
</div>
