<p>Luck points can be used in a variety of ways. Only one Luck Point can be used in support of a particular action.</p>
<p><b>Cheat Fate</b></p>
<p>A luck point can be used to force a re-roll on any kind of dice roll.</p>
<p><b>Desperate Effort</b></p>
<p>Can spend a luck point to gain an additional Action Point if that character run out of Action Points.</p>
<p><b>Mitigate Damage</b></p>
<p>The moment a character suffers a Major Wound, that character can spend a luck point to downgrade the injury to a Serious Wound. This reduces the damage taken to one Hit Point less than what would be required to inflict a Major Wound.</p>
<hr/>
<p>Using a Luck Point, to re-roll a particular result for example, is a Free action.</p>
