<p>The character can attempt to close on, or retreat from, an opponent; changing the range at which he is fighting to take best advantage of his weapon's Reach or disengage from engagement entirely.</p>
<p><b>Reach difference of two or more steps for range to make effect.</b></p>
<hr/>
<p><b>Oppose Closing/Opening Range:</b></p>
<p><b><i>Either keep the range</i></b></p>
<p>Evade skills in an Opposed test.</p>
<ul>
    <li>If initiator of the Change Range wins then he can close/open the range to a desired distance</li>
    <li>If the opponent wins then the range is maintained</li>
</ul>
<p><b><i>Or Attack the changing character</i></b></p>
<p>Make an Opposed Roll Combat Skill vs the initiators' Evade</p>
<ul>
    <li>If the opponent wins, he strikes the character, and any difference in Level of Success results in Special Effects</li>
    <li>The initiator changes the distance</li>
</ul>
<hr/>
<p><b>Results:</b></p>
<p><b><i>Beyond range</i></b></p>
<p>Can withdraw without Special Effect</p>
<p><b><i>Longer Reach</i></b></p>
<ul>
    <li>If fighting at the Reach of the longer weapon, then the user of the shorter weapon cannot directly Attack the wielder of the longer. They are still considered to be engaged.</li>
    <li>User of the shorter weapon can Attack the longer weapon, try to close the range between them, or hope to win an applicable Special Effect.</li>
</ul>
<p><b><i>Shorter Reach</i></b></p>
<ul>
    <li>Longer weapon cannot Parry</li>
    <li>The longer weapon's Size is reduced as many steps as the difference between the two weapons' Reach</li>
    <li>Longer weapon can only do at most 1D3+1 damage</li>
    <li>Getting within Shorter Reach of Natural Weapons does not have the above limitations (Damage is normal, Can Parry, No reduction of Size)</li>
</ul>