<p>Placement of weapons and shields so that they act as cover.</p>
<ul>
    <li>Characters hold weapon/shield so it covers a chosen Hit Location (or Hit Locations when using a shield). They cannot then actively Parry with it (see Ward Location page 93).</li>
    <li>Any Attack which hits those Hit Locations <open-modal modal="damage-reduction">reduces damage</open-modal> as normal</li>
    <li>If Defender has two weapons or weapon and shield combatant can use other weapon to actively Parry</li>
    <li>Choose Location Special Effect cannot be used to bypass the block</li>
    <li>Crouching down behind a shield allows a character to double the number of Hit Locations covered whilst Passive Blocking.</li>
</ul>