<p><b>Use Action Point for Reactive Action</b></p>
<ul class="list-inline">
    <li class="list-inline-item">Defender spends an Action Point to make a reactive action per threat, applies the <open-modal modal="situational">situational modifiers</open-modal> and notes the Parry die roll and result. Any # of reactions can be made - once per threat</li>
    <li class="list-inline-item"> <open-modal modal="counterspell">Counterspell 92</open-modal></li>
    <li class="list-inline-item"> <open-modal modal="evade">Evade 41, 103</open-modal></li>
    <li class="list-inline-item"> <open-modal modal="interrupt">Interrupt 92</open-modal></li>
    <li class="list-inline-item"> <open-modal modal="parry">Parry 93</open-modal></li>
</ul>
<hr/>
<p><b>No Action Point used for Defense</b></p>
<p>Treat as failed Parry</p>
<p><open-modal modal="passive-blocking">Passive Blocking (Ward Location) 93, 105</open-modal></p>
<p>Can do Free Action</p>