<table class="table table-striped">
    <tbody>
        <tr>
            <td > Use Action Point for Proactive Action 
                <ul>
                    <li>
                        Select Combat Action to make an Attack 
                    </li>
                    <li>
                        Apply the <open-modal modal="situational">situational modifiers</open-modal> 
                    </li>
                    <li>
                        Note the Attack die roll and result. 
                    </li>
                    <li>
                        Attacker <i>loses Passive Block for the attacking weapon</i> 
                    </li>
                    <li>
                        Can do Free Action 
                    </li>

                </ul>
            </td>
        </tr>
        <tr>
            <td>Combat Actions - Proactive
            <ul class="list-inline">
                <li class="list-inline-item">Attack</li>
                <li class="list-inline-item"><open-modal modal="brace">Brace 91 </open-modal></li>
                <li class="list-inline-item"><open-modal modal="cast-magic">Cast Magic 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="change-range">Change Range 106</open-modal></li>
                <li class="list-inline-item"><open-modal modal="delay">Delay 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="dither">Dither 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="hold-magic">Hold Magic 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="mount">Mount 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="move">Move 91</open-modal></li>
                <li class="list-inline-item"><open-modal modal="outmaneuvre">Outmaneuvre 104</open-modal></li>
                <li class="list-inline-item"><open-modal modal="ready-weapon">Ready Weapon 92</open-modal></li>
                <li class="list-inline-item"><open-modal modal="regain-footing">Regain Footing 92 </open-modal></li>
                <li class="list-inline-item"><open-modal modal="struggle">Struggle 92</open-modal></li>
                <li class="list-inline-item"><open-modal modal="take-cover">Take Cover 91-92</open-modal></li>
            </ul>
            </td>
        </tr>
        <tr>
            <td> If cannot use Action Point 
            <p>
                Can do Free Action 
            </p>
            </td>
        </tr>
    </tbody>
</table>