.concept-table{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.concept-coockie{
    text-align: center;
    box-shadow: 1px 1px 5px 0px;
}
mat-form-field {
    width: -webkit-fill-available;
    margin: 20px 0px;
}

@media (max-width: 900px) {
    .concept-table{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .concept-table{
        grid-template-columns: 1fr;
    }
}
