<p><b>Beak, Pointed</b></p>
<p><open-modal modal="special-effects" prop="Impale">Impale</open-modal></p>
<p><b>Beak, Tearing</b></p>
<p><open-modal modal="special-effects" prop="Bleed">Bleed</open-modal>,<open-modal modal="special-effects" prop="Grip">Grip</open-modal></p>
<p><b>Claw/Talons</b></p>
<p><open-modal modal="special-effects" prop="Bleed">Bleed</open-modal>,<open-modal modal="special-effects" prop="Grip">Grip</open-modal></p>
<p><b>Hand/Fist</b></p>
<p><open-modal modal="special-effects" prop="Grip">Grip</open-modal>, <open-modal modal="special-effects" prop="Stun Location">Stun Location</open-modal>, <open-modal modal="special-effects" prop="Take Weapon">Take Weapon</open-modal></p>
<p><b>Hoof</b></p>
<p><open-modal modal="special-effects" prop="Bash">Bash</open-modal>, <open-modal modal="special-effects" prop="Stun Location">Stun Location</open-modal></p>
<p><b>Horns</b></p>
<p><open-modal modal="special-effects" prop="Impale">Impale</open-modal></p>
<p><b>Paw</b></p>
<p><open-modal modal="special-effects" prop="Stun Location">Stun Location</open-modal></p>
<p><b>Pincer</b></p>
<p><open-modal modal="special-effects" prop="Grip">Grip</open-modal>, <open-modal modal="special-effects" prop="Sunder">Sunder</open-modal></p>
<p><b>Proboscis</b></p>
<p><open-modal modal="special-effects" prop="Impale">Impale</open-modal></p>
<p><b>Stinger</b></p>
<p><open-modal modal="special-effects" prop="Impale">Impale</open-modal></p>
<p><b>Tail</b></p>
<p><open-modal modal="special-effects" prop="Bash">Bash</open-modal>, <open-modal modal="special-effects" prop="Entangle">Entangle</open-modal>,<open-modal modal="special-effects" prop="Grip">Grip</open-modal></p>
<p><b>Teeth, Crushing</b></p>
<p><open-modal modal="special-effects" prop="Grip">Grip</open-modal></p>
<p><b>Teeth, Grasping</b></p>
<p><open-modal modal="special-effects" prop="Grip">Grip</open-modal>, Impale</p>
<p><b>Teeth, Incising</b></p>
<p><open-modal modal="special-effects" prop="Bleed">Bleed</open-modal></p>
<p><b>Tentacle</b></p>
<p><open-modal modal="special-effects" prop="Grip">Grip</open-modal>, <open-modal modal="special-effects" prop="Take Weapon">Take Weapon</open-modal></p>
<p><b>Tusk</b></p>
<p><open-modal modal="special-effects" prop="Impale">Impale</open-modal></p>
<p><b>Wing</b></p>
<p><open-modal modal="special-effects" prop="Bash">Bash</open-modal>, <open-modal modal="special-effects" prop="Entangle">Entangle</open-modal></p>
