<p><b>When</b></p>
<ul>
    <li>Most leaping Attacks are triggered as part of an ambush or at the conclusion of a Charge.</li>
    <li>Some creatures have the ability to leap atop an opponent without the need for a run-up or superior height.</li>
    <li>Leaping Attacks only work against opponents of up to twice the Attacker's SIZ.</li>
    <li>Target can Brace Combat Action, if aware of leap Attack.</li>
</ul>
<p><b>Leaper's Athletics vs Defender's Brawn or Evade</b></p>
<ul>
    <li>Quadruped may substitute Athletics for Evade, making Attacker's Athletics roll one Difficulty Grade harder.</li>
    <li>If the leaper wins then the Defender is automatically knocked prone, with the Attacker astride them. A prone victim cannot recover his footing (combat rolls at Formidable) until either his Attacker leaves him, or using Special Effect Arise.</li>
    <li>If the Attack fails, the Defender has weathered or sidestepped the impact.</li>
    <li>Select suitable Special Effects as per normal combat.</li>
    <li>No damage is inflicted as part of the leap (unless they possess the Leaper creature ability page 216)</li>
</ul>
<p>
    With the ability it automatically inflicts damage for one of its natural weapons. This damage cannot be parried except by Passive Blocking.
</p>