<div class="page">
    <p><i>I don't pre-load the pdf because it makes the page slower. Load it once you are done with the other steps to view, edit and print.</i></p>
    <div class = "line">
       <button *ngIf="load&&!loading" mat-flat-button (click)="refresh()"><mat-icon>refresh</mat-icon> Refresh PDF</button>
   </div>
   <div class = "line">
      <button *ngIf="!load&&!loading" mat-flat-button (click)="load=true"><mat-icon>refresh</mat-icon> Load PDF</button>
  </div>

    <character-pdf *ngIf="load" [character]="character"/>
</div>