<div class="page">
    <!-- <div class = "line">
        <div class="details">
            <div class="main-detail">
                Player: <inpu-pdfdfdft [(ngModel)]="character.player"/>
            </div>
            <div class="main-detail">
                Character: <input [(ngModel)]="character.name"/>
            </div>
            <div class="detail">
                Species: <input [(ngModel)]="character.species"/>
            </div>
            <div class="detail">
                Gender: <input [(ngModel)]="character.gender"/>
            </div>
            <div class="detail">
                Age: <input type = "number" [(ngModel)]="character.age"/>
            </div>
            <div class="detail">
                Frame: <input [(ngModel)]="character.species"/>
            </div>
            <div class="detail">
                Culture: <input [(ngModel)]="character.culture"/>
            </div>
            <div class="detail">
                Height: <input type = "number" [(ngModel)]="character.height"/>
            </div>
            <div class="detail">
                Social Class: <input [(ngModel)]="character.socialClass"/>
            </div>
            <div class="detail">
                Weight: <input type = "number" [(ngModel)]="character.weight"/>
            </div>
            <div class="detail">
                Career: <input [(ngModel)]="character.career"/>
            </div>
        </div>
        <div class="logo">MYTHRAS</div>
    </div> -->

    <character-pdf [character]="character"/>
</div>