<ul>
    <li>In special cases where key characters receive a Major Wound, the Games Master might allow a heroic last action - such as spitting out one last spell, attempting to cut down their slayer, crawling away to hide, or trying to tourniquet their own wound.</li>
    <li>They must have working limbs applicable to the action, and burn a Luck Point.</li>
    <li>They get a single opportunity to attempt their action, and then immediately collapse into unconsciousness, and probable death.</li>
</ul>