<p>In the Spirit world, Spirit combat doesn't have to look like actual combat and can take any form the GM deems appropriate.</p>
<p>If visible in the Mortal World, a character with Magic can intervene.</p>
<p>Mortal combatants in the spirit world use their Spirit Attributes.</p>
<p>Successful Spirit Attacks deal damage equal to the attacker's Spirit Damage roll to the defender's Magic Points.</p>
<p> Combat continues until the fight is concluded by use of a Special Effect, or one of the combatants is reduced to zero Magic Points, at which point they are defeated.</p>
<hr/>
<p><b>Consequences of Defeat</b></p>
<ul>
    <li><open-modal modal="possession-exorcism">Possessed</open-modal>: Some spirits can poses the loser's body</li>
    <li>Bound: Loser spirit may be bound into a fetish, location or creature</li>
    <li><open-modal modal="possession-exorcism">Exorcised</open-modal>: A spirit possessing a mortal can be exorcised back to the Spirit World</li>
    <li>Dissipated: If a spirit has the <open-modal modal="deadly-ability">Deadly Ability</open-modal>, it can destroy the loser (loser can recover if it has the Recurring ability)</li>
    <li>Obligation: Loser must grant one service to gain its freedom</li>
    <li>Expelled: Ejection from the Spirit World</li>
    <li>Ignored: Loser might simply be ignored or skipped</li>
    <li>Sundered: Limited to spirits with <open-modal modal="deadly-ability">Deadly Ability</open-modal>, makes the loser into a thrall - perhaps to be exiled to the mundane world to bring fear to other mortals, or retained as a aslave in the Spirit World</li>
</ul>