<p><open-modal modal="fatigue">Fatigue</open-modal> Check: Endurance roll or lose Fatigue level</p>
<mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile>CON</mat-grid-tile>
    <mat-grid-tile>1-5</mat-grid-tile>
    <mat-grid-tile>6-10</mat-grid-tile>
    <mat-grid-tile>11-15</mat-grid-tile>
    <mat-grid-tile>16-20</mat-grid-tile>
    <mat-grid-tile>Combat Round</mat-grid-tile>
    <mat-grid-tile>Every 2nd</mat-grid-tile>
    <mat-grid-tile>Every 3rd</mat-grid-tile>
    <mat-grid-tile>Every 4th</mat-grid-tile>
    <mat-grid-tile>Every 5th</mat-grid-tile>
  </mat-grid-list>