<p>By spending an additional time aiming, a character can potentially increase their chance to hit.</p>
<p>Aiming requires an entire Combat Round.</p>
<p>Reduces the difficulty of a <open-modal modal="ranged-situational">Situational Modifier by one grade.</open-modal> </p>
<p>Additional rounds spend aiming, grant no further advantage.</p>
<p><i>Tsinik's Notes: A cunning player will aim with their last action point so that they can shoot with their first on the next round. Fellow GMs have this in mind and act accordingly.</i></p>
