<p>It is possible for one skill to aid another. This is called Augmenting.</p>
<p>The GM will decide if any augmentation is approprate and possible. Any skill used to augment another must be appropriate to the circumsatnces</p>
<p><i>A player might use BRAWN to augment someone else's ATHLETICS.</i></p>
<hr/>
<p><b>Characters can only augment the primary skill with a single other skill.</b></p>
<p><b>An augmenting skill increases the value of the primary by 20% of the augmenting skill.</b></p>
<p><b>The primary skill's critical and fumble chances remain the same as they would have been before augmentation.</b></p>
<p><b>A character cannot augment themselves.</b></p>
<p><b>A character can only contribute one of their skills to augment another's.</b></p>
<p><i>Tsinik's notes:</i></p>
<p><i>I would allow more than one skill in certain occasions. For example a character has high BRAWN and high PERCEPTION, so maybe that character while lifting the other character up, they could also be pointing out holes for the other character to grab on to.</i></p>
<p><i>Also it's not clear in the rules but I would also allow, for someone if they can't reach the primary target to augment one of the augmentors (if it makes sense) and compound the total value.</i></p>