<ul>
    <li>Avoid missiles - vs Combat style of attacker</li>
    <li>Thwarting a trap - vs either by Potency of Trap or skill rating of maker at the time of making the trap</li>
    <li>Evading a spell - vs spell caster's score in the casting skill</li>
    <li>Manoeuvering in combat - vs attacker's evade skill</li>
    <li>Whatever the result evader ends up prone</li>
    <li>A character can keep evading while prone, but with the appropriate penalties</li>
    <li>Mounted character can only evade by flinging themselves from the saddle</li>
</ul>