<p>To exorsise a spirit that is possessing, others must defeat it in spirit combat and choose to exorcise it.</p>
<p>A possessing spirit or soul can willingly abandon a possession at any time.</p>
<hr/>
<p><b>Dominant Possession</b></p>
<p>Spirit takes complete control of the victim. The victim is aware but powerless to stop it.</p>
<p>The spirit has no access to the victim's memories, skills or magic, but it substitutes its own instead.</p>
<p>To actively detect a dominant possession requires a successful, unopposed test of either Insight if viewed magically, or Trance.</p>
<p><b>Passive Possession</b></p>
<p>Passive Possession occurs when the spirit lodges itself withing the victim, but is unable to seize control, allowing the host to remain in full command of its faculties</p>
<p>Instead the spirit 'merely' inflicts its powers on the host's body.</p>
<p><b>Convert Possession</b></p>
<p>Just like Passive Possession but the spirit remains hidden. The spirit might take over the body at night while the victim is asleep to keep its existence secret.</p>
<p>Detecting a covert possession requires a successful Opposed roll of either Insight or Trance versus the spirit's Stealth skill.</p>