<ul>
    <li>Use the momentum to carry the Attacker through, and clear of an engagement.</li>
    <li>It is normally limited to mounted combatants or creatures of significant size unlikely to be hindered by an impact with smaller foes.</li>
    <li>The speed of such Charges prevents the Attacker and Defender from exchanging more than a single action with each other,namely the Charge Attack, and the Defender's reaction to it (Parry, Evade or Counterattack).</li>
    <li>Charges can be done by running, swimming or flying creatures.</li>
</ul>