<div class="row name-row">
    <mat-form-field>
        <mat-label>Player:</mat-label>
        <input matInput [(ngModel)]="character.player">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Character:</mat-label>
        <input matInput [(ngModel)]="character.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Species:</mat-label>
        <input matInput placeholder="Human" [(ngModel)]="character.species">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Gender:</mat-label>
        <input matInput [(ngModel)]="character.gender">
    </mat-form-field>
</div>

