/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: beige; }
.modal-opener{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.mat-mdc-dialog-actions {
    justify-content: end !important;
}
.cdk-overlay-container{
    height: 100vh !important;
    width: 100vw !important;
}

page-wrapper{
    background-color: beige;
    // width: 100vw;
    height: 100vh;
    padding: 10px 20px;
}

mat-stepper{
    background-color: unset !important;
}

app-initiative-notes mat-form-field{
    width: 60px;
    input { 
        text-align: center;
    }
}