/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: beige; }
.modal-opener{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.mat-mdc-dialog-actions {
    justify-content: end !important;
}
.cdk-overlay-container{
    height: 100vh !important;
    width: 100vw !important;
}

page-wrapper{
    background-color: beige;
    // width: 100vw;
    height: 100vh;
    padding: 10px 20px;
}

mat-stepper{
    background-color: unset !important;
}

.mat-vertical-content-container{
    top: 50px;
    position: absolute !important;
    z-index: 1;
}

.mat-step .mat-step-icon {
    z-index: 2 !important;
}

app-initiative-notes mat-form-field{
    width: 60px;
    input { 
        text-align: center;
    }
}

@media print {

body {
    // height: 1210px!important;
    // width: 935px!important;
    // overflow: hidden!important;
    background-color: unset !important;
}

.header {
    visibility: hidden;
}

.mat-step-icon{
    visibility: hidden;
}

.line {
    display:none;
}

// #contentContainer{
//     position: absolute !important;
//     top: -20px !important;
//     left: 0 !important;
//     z-index: 100000 !important;
//     display: block !important;
// }

// #page1 {
//     page-break-after: always !important;
// }

#page2{
    page-break-before: always !important;
}

@page {
    size: Letter portrait !important;
    // margin: 1cm !important;
  }



}