<div>
    <style-filters [filters]="filters" (filter)="filter()"></style-filters>
</div>
<div>
    <button mat-stroked-button (click)="resetFilters()">Reset Filters</button>
</div>
<div *ngIf="getStyles().length === 0">
    No combat styles match the current filters. Change filters or use "Reset Filters".
</div>
<div *ngIf="filtering" class="styles-table-y">
    <mat-spinner diameter="40"></mat-spinner>
</div>
<div *ngIf="!filtering" class="styles-table-y">
    <styles-table [styles]="getStyles()" #stylesTable (select)="styleSelected($event)"></styles-table>
</div>
