<p>In your turn use proactive action to:</p>
<ul>
    <li>Use <open-modal modal="change-range">Change Range</open-modal> to open range to beyond range</li>
    <li>Win and use Withdraw Special Effect</li>
    <li>Win all opponents in <open-modal modal="outmaneuvre">Outmaneuvre</open-modal></li>
    <li><open-modal modal="mounted-combat">Mounted</open-modal> withdraw freely from engagement on your turn provided your mount moves faster than the opponent, and the mount itself is not engaged in attacking.</li>
</ul>
